@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: "Poppins", sans-serif;
}

body{
    background: #dcdce6;
    background-image: url('./assets/white-background.jpg');
    background-size: cover;
}